<h1>New <%= singular_table_name.titleize %></h1>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group" role="group" aria-label="...">
      <%%= link_to fa_icon("arrow-left"), <%= index_helper %>_path, class: "btn btn-default", role: "button" %>
    </div>
  </div>
</div>

<%%= render "form" %>
