<div class="container">

  <h1>Editing Course</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to fa_icon("eye"), @course, class: "btn btn-primary", role: "button" %>
        <%= link_to fa_icon("arrow-left"), courses_path, class: "btn btn-secondary", role: "button" %>
      </div>
    </div>
  </div>

  <%= render "form" %>

</div>
