<div class="container">
</br>
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><%= I18n.t('.sign_in', default: 'Sign in') %></h4>
        </div>
        <div class="card-body">
          <%= render "new_session" %>
        </div>
        <div class="card-footer">
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</div>
