<div class="container">
  <div class="row">
    <div class="col col-md-8">
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Powered By", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="col col-md-4 text-right">
      <div class="small copyright">
        &copy;
        <%= Time.current.year %>,
        <a href="#" target="_blank">smartrus</a>.
      </div>
    </div>
  </div>
</div>


